/*
===============
Fonts
===============
*/
@import url('https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@600;700&display=swap');

/*
===============
Variables
===============
*/
:root {
    /* Primary */
    --Scissors-Gradient: linear-gradient(#ec9e0e, #eca922);
    --Paper-Gradient: linear-gradient(#4865f4, #5671f5);
    --Rock-Gradient: linear-gradient(#dc2e4e, #dd405d);
    --Lizard-Gradient: linear-gradient(#834fe3, #8c5de5);
    --Cyan: linear-gradient(#40b9ce, #52bed1);
    /* Neutral */
    --Dark-Text: #3b4363;
    --Score-Text: #2a46c0;
    --Header-Outline: hsl(217, 16%, 45%);
    /* Background */
    --Background: radial-gradient(#1f3756, #141539);
}

/*
===============
Global styles
===============
*/
*,
*:after,
*:before {
    box-sizing: border-box;
}

body {
    overflow-x: hidden;
    height: 100vh;
    font-family: 'Barlow Semi Condensed', sans-serif;
    color: whitesmoke;
    background: var(--Background);
    background-repeat: no-repeat;
    background-size: contain;
    /* padding-top: 2rem; */
}

svg {
    max-width: 100%;
    display: block;
}

.heading {
    text-transform: uppercase;
}

/*
===============
Rules Modal
===============
*/
.rules-modal {
    position: absolute;
    z-index: 5;
    width: 100vw;
    height: 100vh;
    background: whitesmoke;
    color: var(--Dark-Text);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 1rem;
    visibility: hidden;
    transition: .3s;
}

.rules-modal h2 {
    text-transform: uppercase;
    font-size: 1.875rem;
    font-weight: 700;
    text-align: center;
    position: relative;
    top: -15%;
}

.rules-modal .close-icon__container {
    position: relative;
    bottom: -15%;
    cursor: pointer;
}

/*
===============
Header / Scoreboard
===============
*/
/* Using this hack / hacky method to solve margin collapsing on the body and header elements */
.header-wrapper {
    padding-top: 2rem;
}

.header {
    width: 85%;
    border: 3px solid var(--Header-Outline);
    border-radius: 8px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    margin-bottom: 5rem;
    padding: .75rem;
    padding-left: 1.25rem;
}

.header .title {
    display: flex;
    flex-direction: column;
    line-height: 16px;
    font-size: 1.25rem;
    font-weight: 700;
}

.header .score {
    background: #FBFBFB;
    color: var(--Dark-Text);
    /* padding: 1rem; */
    padding: .5rem 1.25rem;
    border-radius: 3px;
    cursor: pointer;
}

.score span {
    font-size: 10px;
    letter-spacing: 1px;
}

.score #score-count {
    font-size: 2.25rem;
}

/*
===============
Main Content
===============
*/
/* Player Options Page */
.player-options__page {
    background-image: url('./images/bg-triangle.svg');
    background-repeat: no-repeat;
    background-position: center 45px;
    background-size: 65% 80%;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    gap: 1rem;
}

 .wrapper {
    padding: 1rem;
    border-radius: 50%;
    cursor: pointer;
    width: max-content;
}

 .wrapper:active {
    box-shadow: none;
    transform: translateY(5px);
}

 .rock {
    background: var(--Rock-Gradient);
    box-shadow: 0px 5px 0px 0px #9B1634;
    
}

 .scissors {
    background: var(--Scissors-Gradient);
    box-shadow: 0px 5px 0px 0px #CA6B19;
}

 .paper {
    background: var(--Paper-Gradient);
    box-shadow: 0px 5px 0px 0px #2843C0;
}

 .option {
    cursor: pointer;
    min-height: 6.25rem;
    width: 6.25rem;
    padding: 0;
    border: none;
    border-radius: 50%;
    outline: none;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: inset 0px 5px 0px 0px rgba(0,0,0,0.2);
}

/* Player Choices Evaluation Page */
.evaluation-page .picked-options {
    width: 100%;
    display: flex;
    justify-content: space-around;
}

.eval-text {
    font-weight: 600;
    margin-top: 1.75rem;
    text-align: center;
    letter-spacing: 1px;
}

.player {
    position: relative;
}

.player::before {
    content: '';
    background: rgba(23, 31, 65, 0.7);
    width: 80%;
    height: 111px;
    border-radius: 50%;
    position: absolute;
    left: 0;
    right: 0;
    top: 10px;
    margin: 0 auto;
    z-index: -5;
}

.isVisible {
    visibility: hidden;
}

.winner::before {
    box-shadow: 0px 0px 0px 26px rgba(45, 60, 91, 0.7),
                0px 0px 0px 52px rgba(45, 60, 91, 0.5),
                0px 0px 0px 78px rgba(45, 60, 91, 0.3);
    /* transition: .5s; */
}

/* Results */
.evaluation-page .results {
    margin: 0 auto;
    margin-top: 3.25rem;
    width: fit-content;
}

.results .result-text {
    font-size: 3rem;
    margin-bottom: 1rem;
}

.results .play-again__btn {
    background: whitesmoke;
    color: var(--Dark-Text);
    width: 100%;
    padding: .875rem 2rem;
    border: none;
    border-radius: 8px;
    font-family: 'Barlow Semi Condensed', sans-serif;
    font-size: 1rem;
    text-transform: uppercase;
    letter-spacing: 3px;
    cursor: pointer;
    outline: none;
}

.results .play-again__btn:active {
    transform: scale(0.95);
}

/* Rules Button */
.rules-btn span {
    display: block;
}

.rules-btn {
    position: fixed;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 2px;
    border: 2px solid whitesmoke;
    border-radius: 8px;
    padding: .625rem 2rem;
    display: inline-block;
    right: 35%;
    /* right: 0;
    left: 0;
    margin: 0 auto;
    width: max-content; */
    bottom: 50px;
    cursor: pointer;
}

